# Исключение виртуального окружения
.venv/
venv/

# Файлы кэша Python
__pycache__/
*.pyc
*.pyo

# База данных SQLite
*.sqlite3

# Конфиденциальные файлы с настройками
.env

# Лог-файлы
*.log

# Файлы и папки IDE
.idea/
.vscode/

# Резервные файлы
*.swp
*.bak
*.tmp

# Скомпилированные файлы
*.so
*.dll

# Файлы операционной системы
.DS_Store
Thumbs.db


